body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 5px;
    margin-top: 20px;
}

#game-board div {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score {
    margin-top: 20px;
    font-size: 20px;
}
